@use './styles/vars';
@use './styles/ds';
@use './styles/buttons';
@use './styles/cards.scss';
@use './styles/navbar';
@use './styles/home';
@use './styles/alert';
@use './styles/articlesSection';
@use './styles/dividerWithButton';
@use './styles/tienda';
@use './styles/usados';
@use './styles/editorial';
@use './styles/bookCovers';
@use './styles/distribuidora';
@use './styles/historia';
@use './styles/footer';
@use './styles/allArticles';
@use './styles/oneArticle';
@use './styles/shareIcons';

@use './styles/dashboard/allArticlesDashboard';
@use './styles/dashboard/imageLoader';
@use './styles/dashboard/alerts';
@use './styles/dashboard/createArticle';
@import './styles/mixins';

//site styles

.main{
  background:  vars.$color-bg-ligth;
}

.mainContainer{
 @include mainContainer;
}


.homeContainer{
   @include box-shadow;
}

.title{
 @include title;
}

.text{
 @include text;
}

.articleTitle{
@include articleTitle;
}

.articleText{
   @include articleText
}

.flyer{
   width: 300px;
   cursor: pointer;
   transition: border-box 0.5s ease-in-out;
}


.flyer:hover{
   @include box-shadow;

}

.flyer:focus{
   @include box-shadow;

}

.textLink{
   @include linkInText;
}

.marginBottomSection{
   @include marginBottomSection;
}



.flyerContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 0.5rem;
   margin-block: 2rem;
}

.flyerText{
   @include text;
   padding-left: 1.2rem;

}



@media(min-width:950px){
.flyerContainer{
   flex-direction: row;
   gap: 1rem;
}

.flyerText{
   padding-left: initial;
}
}


//dashboard styles

.html{
  background-color:vars.$primary-color-dark;
  color:vars.$secondary-color-dark;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main > h1{
  border-bottom: solid 1px vars.$secondary-color-dark;
  margin-top: 5%;
}

.dashboardContainer{
  display: flex;
  justify-content: flex-start;
}

.homeLinkContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  left:1rem;
}

.homeLinkContainer > h1{
  align-self: center;
}

.homeLink{
  text-decoration: none;
  color: vars.$secondary-color-dark;
  border: solid 1px vars.$secondary-color-dark;
  border-radius: 10px;
  padding-block: auto;
  min-width:12rem ;
  text-align: center;
  cursor: pointer;
  font-size: 0.7rem;
}

.homeLink:hover{
  color: vars.$color-red;
  border-color: vars.$color-red;
}
